BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
SortIncludes: Never
AlignAfterOpenBracket: BlockIndent
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
BinPackArguments: false
BreakBeforeBinaryOperators: None
ColumnLimit: 100
