[Desktop Entry]
Type=Application
Name=pidnl
GenericName=Bandwidth Limiter
Comment=Strict per-process bandwidth limits
Icon=io.github.ariasmn.pidnl
Exec=pidnl-gui
Terminal=false
Categories=System;Monitor;
Keywords=bandwidth;network;limit;rate;traffic;monitor;
StartupNotify=true
